<!-- templates/product_detail.html -->

{% extends 'main/base.html' %}

{% block content %}
  <h2>Детали товара</h2>
  <p><strong>Название:</strong> {{ product.name }}</p>
  <p><strong>Количество:</strong> {{ product.quantity }}</p>
  <p><strong>Цена (руб.):</strong> {{ product.price }}</p>
  <p><strong>Сорт растения:</strong> {{ product.variety }}</p>
  <p><strong>Вид продукта:</strong> {{ product.plant_type.type }}</p>
  <a href="{% url 'product_update' product.pk %}" class="btn btn-warning btn-sm">Изменить</a>
{#  <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger btn-sm">Удалить</a>#}
    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Назад к списку товаров</a>
{% endblock %}