<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'product_list' %}">Номенклатура</a>
    <a class="navbar-brand" href="{% url 'clients_list' %}">Клиенты</a>
    <a class="navbar-brand" href="{% url 'suppliers_list' %}">Поставщики</a>
    <a class="navbar-brand" href="{% url 'orders_list' %}">Заказы</a>
    <a class="navbar-brand" href="{% url 'purchases_list' %}">Закупки</a>
    <a class="navbar-brand" href="{% url 'stats_list' %}">Статистика</a>



    <!-- Дополнительный код навбара здесь -->
</nav>