{% extends 'main/base.html' %}

{% block content %}
  <h2>Список закупок</h2>
    <a href="{% url 'purchases_create' %}" class="btn btn-success">Добавить закупку</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
            <a href="?order_by=suppliersId__name">ФИО</a>
        </th>
          <th scope="col">
            <a href="?order_by=organisation">Организация</a>
        </th>
        <th scope="col">
            <a href="?order_by=amount_price">Общая сумма</a>
        </th>
        <th scope="col">
            <a href="?order_by=date">Дата создания</a>
        </th>
        <th scope="col">
            <a href="?order_by=updateDate">Дата обновления</a>
        </th>
         <th scope="col">
      <a href="?order_by=statusId__status">Статус</a>
    </th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchases %}
        <tr>
          <td>{{ purchase.suppliersId.name }}</td>
            <td>{{ purchase.suppliersId.organisation }}</td>
          <td>{{ purchase.amount_price }}</td>
          <td>{{ purchase.date }}</td>
          <td>{{ purchase.updateDate }}</td>
          <td>{{ purchase.statusId.status }}</td>
          <td>
                <a href="{% url 'purchases_detail' purchase.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
{#            <a href="{% url 'orders_update' order.pk %}" class="btn btn-warning btn-sm">Изменить</a>#}
{#            <a href="{% url 'orders_delete' order.pk %}" class="btn btn-danger btn-sm">Удалить</a>#}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}