<!-- templates/orders/edit_order.html -->
{% extends 'main/base.html' %}

{% block content %}
  <h2>Изменение данных заказа</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="{{ form.statusId.id_for_label }}" class="col-sm-2 col-form-label">{{ form.statusId.label }}</label>
        <div class="col-sm-10">
          {{ form.statusId }}
        </div>
    </div>
    <button type="submit">Сохранить изменения</button>
  </form>
  <a href="{% url 'orders_detail' pk=order_id %}" class="btn btn-secondary mt-3">Назад к заказу</a>
{% endblock %}